/* font-family: 'Muli', sans-serif; */
html {
    background-color: #757575;
}

body {
    background-color: rgba(0,0,0,0);
}

/* Navbar Styling */
.navbar-brand {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}

/* Index/Landing Page styling */
.titleHead {
    font-family: 'Muri', sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    text-align: center;
}

.mainBody {
    background-image: url('../../images/notebook1.jpg');
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.buttonArea {
    margin-top: .5rem;
    text-align: center;
}

.btn-primary {
    background-color: #059bfb!important;
    border: .25rem solid #059bfb!important;
    width: 20rem;
    height: 5rem;
    padding-top: 1rem;
    font-family: 'Muri', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0)!important;
}

/* Login page styling */
.mainContent {
    margin-top: 5rem;
    background-color: rgba(0,0,0,0);
}

.mainContent .row {
    background-color: rgba(0,0,0,0);
}

.empty1, .empty2 {
    background-color: rgba(0,0,0,0);
}

.login {
    background-color: #e6e6e6;
    padding-top: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(2px 2px 2px #000000);
}

.form-group {
    text-align: center;
}

.form-control, .input-group {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

#submitBtn {
    background-color: rgba(0,0,0,0);
    border: .13rem solid #059bfb;
    color: #059bfb;
}

#submitBtn:hover {
    background-color: #059bfb;
    color: white;
    border: none;
    border: .13rem solid rgba(5, 155, 251, 0);
}

.newRegi {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
}

.newRegi > a {
    color: #059bfb;
}

.newRegi a:hover {
    font-weight: 300;
    color: #05437c;
    text-decoration: none;
}

/* New User page Styling */
.login {
    text-align: center;
}

.header3 {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: .13rem;
    border-radius: .13rem;
}

.needed {
    background-color: rgba(255, 5, 5, 0.5);
}

#resetBtn {
    background-color: rgba(0, 0, 0, 0);
    border: .13rem solid #e24949;
    color: #e24949;
}

#resetBtn:hover {
    background-color: #e24949;
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

.noMatch {
    border: .13rem solid #e24949;
    box-shadow: 2px;
}

.reqContent {
    margin-top: 1.25rem;
}

.reqSect {
    text-align: center;
    background-color: #e6e6e6;
    filter: drop-shadow(2px 2px 2px #000000);
    border-radius: 1rem;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
