/* font-family: 'Muli', sans-serif; */
html {
    background-color: #757575;
}

body {
    background-color: rgba(0,0,0,0);
}

/* Navbar Styling */
.navbar-brand {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}

/* Content Styling */
.userHeader {
    margin-top: 4rem;
    background-color: white;
    border: .13rem solid rgb(5, 155, 251);
    color: #059bfb;
    border-radius: 1rem;
}

.userTaskSect {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1rem;
    border-radius: .5rem;
}

.userTaskSect .row {
    background-color: rgba(0, 0, 0, 0);
}

.userTaskSect h3 {
    padding-bottom: .5rem;
    margin-top: .25rem;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.card-header-pills li > a {
    color: #79c5f6;
}

.nav-pills > li > a.active {
    background-color: #035183!important;
}

.card-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: none;
}

.card-body {
    background-color: white;
    border-radius: .5rem;
}

.myActive {
    background-color: #035183;
}
